*.xml
*.iml
.idea/dictionaries
GNNFakeNews/data/local/gossipcop/*
GNNFakeNews/data/local/politifact/*
*.npy
*.npz
*.pt
*.zip
*.csv
data/data/README.md
*.pyc
*/__pycache__/*
*.ipynb_checkpoints/*
GNNFakeNews/data/fakenewsnet_dataset/*
GNNFakeNews/models/cased_L-24_H-1024_A-16/*
Huggingface/notebooks/dataset_edited/*
Huggingface/notebooks/results/*